* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    background-color: #fafafa;
    border-bottom: 1px solid #00000036;
}

/* main {
    display: flex;
} */


td {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 100px;
}

.my-btn {
    padding: 5px;
    border-radius: 0;
}

#product-details-container {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.dtlCard {
    width: 18rem;
}